.button {
  width: 153px;
  height: 32px;
  border-radius: 5px;
  background-color: $main-color;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;

  &--main {
    margin-top: 67px;
    width: 303px;
    height: 54px;
    font-size: 16px;
    font-weight: 400;
  }
}